body {
	display: flex;
	flex-wrap: nowrap;
	height: 1900px;
	max-width: 1920px;
	background: #fff;
	justify-content: center;
}


header {
	height: 280px;
	width: 1140px;
	margin: 50px 0px 38px 0px;
}

header .header-logo, .contacts, .callback  {
	display: inline-block;
	width: 263px;
}

header .topnav {
	display: flex;
	justify-content: space-between;
	background: #04569f;
	height: 60px;
	line-height: 55px;
}

header .contact-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .topnav a {
	width: 195px;
	text-decoration: none;
	color: #fff;
	text-align: center;
	font-size: 16px;
	font-weight: lighter;
	vertical-align: middle;

}

header .topnav a:hover{
	background: #3887cf;
}

section  {
	margin-bottom: 68px;
	text-align: left;
	align-items: 
}

section .header-logo, .contacts{
	width: 263px;

}

section .logo {
	font-weight: bold;
	font-size: 32px;
	color: #04569f;
}

section .under-logo, .under-logo-2 {
	font-size: 13px;
	margin-top: -20px;
}

section .contacts {
	font-size: 16px;
	color: #012646;
	font-weight: bold;
	text-align: justify;
	margin-left: 195px;
}

section .callback {
	font-size: 20px;
	color: #012646;
	font-weight: bold;
	width: 200px;
}

.callback p{
	margin-bottom: 5px;
	margin-top: -20px;
}

.callback button  {
	background: #fff;
	font-size: 13px;
	color: #012646;
	font-weight: lighter;
	height: 30px;
	width: 200px;
	border: #04569f 1px solid;
}

.callback button:hover {
	background: #3887cf;
	color: #fff;
}
















footer {
	position: fixed;
    bottom: 0;
	height: 125px;
	width: 1140px;
	font-size: 16px;
	font-weight: bold;
}

footer .botnav {
	display: flex;
	justify-content: space-around;
	line-height: 105px;
}

/*8****/