@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria.ttf');
}

@font-face {
  font-family: 'Geometria-Heavy';
  src: url('../fonts/Geometria-Heavy.ttf');
}

@font-face {
  font-family: 'Geometria-Bold';
  src: url('../fonts/Geometria-Bold.ttf');
}

@font-face {
  font-family: 'Geometria-ExtraBold';
  src: url('../fonts/Geometria-ExtraBold.ttf');
}

* {
	font-family: 'Geometria', sans-serif;
	margin: 0;
	padding: 0;
}

body {
	height: 1900px;
	background: #fff;
	text-align: center;		
}

#container {
width: 1140px;
height: 100%; 
margin: 0 auto; 
}

header {
	height: 280px;
	width: 1140px;
	margin: 50px 0px 0px 0px;
}

header .header-logo, .contacts, .callback  {
	display: inline-block;
	width: 200px;
}

header .logo {
	font-family: 'Geometria-Heavy', sans-serif;
	font-size: 32px;
	color: #04569f;
	margin-bottom: 15px;
}

header .contacts {
	font-family: 'Geometria-Bold', sans-serif;
	font-size: 16px;
	color: #012646;
	font-weight: bold;
	text-align: justify;
	margin-left: 285px;
	width: 265px;
}

header .callback {
	margin-left: 50px;
}

header .callback  p{
	font-family: 'Geometria-ExtraBold', sans-serif;
	font-size: 20px;
	color: #012646;
	font-weight: bold;
	width: 200px;
	margin-bottom: 5px;
	margin-top: -10px;
}

header .topnav {
	display: flex;
	justify-content: space-between;
	background: #04569f;
	height: 60px;
	line-height: 55px;
}

header .contact-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .topnav a {
	width: 195px;
	text-decoration: none;
	color: #fff;
	text-align: center;
	font-size: 16px;
	font-weight: lighter;
	vertical-align: middle;

}

header .topnav a:hover{
	background: #3887cf;
}

section  {
	margin-bottom: 68px;
	text-align: left;
}

section .header-logo, .contacts{
	width: 263px;

}

section .under-logo, .under-logo-2 {
	font-size: 13px;
	margin-top: -20px;
}

header .under-logo {
	margin-bottom: 17px;
}

.callback button  {
	background: #fff;
	font-size: 13px;
	color: #012646;
	font-weight: lighter;
	height: 30px;
	width: 200px;
	border: #04569f 1px solid;
}

.callback button:hover {
	background: #3887cf;
	color: #fff;
}

.photoblock img {
	display: block;
	width: 1140px;
}

.clients {
	height: 84px;
	margin-top: 23px;
}

.brands {
	height: 84px;
	background: #04569f;
	width: 278px; 
}

.brands p {
	font-size: 14px;
	font-family: 'Geometria-Bold', sans-serif;
	color: #fff;
	text-align: left;
	padding-left: 50px;
}

#brand1 {
	padding-top: 25px;
}

#brand2 {
	margin-top: -10px;
}

.slider {
	display: inline-block;
	background: #ecedee;
	height: 84px;
	margin-left: -14px;
	width: 862px;
}

.slider img {
	height: 80%;
	width: 30%;
}

.slider-button {
	font-size: 55px;
	border: none;
	height: 84px;
	background: #ecedee;
	width: 40px;
	text-align: justify-all;
	float: left;
}
 
.slider-button:hover {
	color: #3887cf;
}

#button-left { float: left; }
#button-right {	float: right; }
#brand-icon-1 {	margin-top: 10px; margin-left: 50px; height: 42px; width: 150px; } 
#brand-icon-2 { margin-top: 16px; margin-left: 50px; height: 21px; width: 75px; }
#brand-icon-3 { margin-top: 16px; margin-left: 50px; margin-right: 20px; width: 150px; }

.main-content {
	height: 900px;
	margin-top: 30px;
}

.sidebar-1 {
	height: 74px;
	background: #04569f;
	text-align: center;
	margin-bottom: 0px;
}

.sidebar-2 {
	font-family: 'Geometria-Bold', sans-serif;
	height: 550px;
	background: #f4f4f4;
	text-align: left;
	list-style-type: none;
	font-size: 13px;
	font-weight: bold;
	color: #888888;
}

.sidebar-2 li{
	list-style-type: none;
	margin: 0px 20px 25px 40px;
}

.sidebar-nav a {
	margin-left: 20px;
	color: #888888;
}

.sidebar-nav {
	padding-top: 35px;
}

.sidebar h1 {
	font-size: 16px;
	font-family: 'Geometria-Bold', sans-serif;
	color: #fff;
	line-height: 74px;
}

footer {
    bottom: 0;
	height: 125px;
	width: 1140px;
	font-size: 16px;
	font-weight: bold;
}

footer .botnav {
	display: flex;
	justify-content: space-around;
	line-height: 105px;
}
