@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria.ttf');
}

@font-face {
  font-family: 'Geometria-Heavy';
  src: url('../fonts/Geometria-Heavy.ttf');
}

@font-face {
  font-family: 'Geometria-Bold';
  src: url('../fonts/Geometria-Bold.ttf');
}

@font-face {
  font-family: 'Geometria-ExtraBold';
  src: url('../fonts/Geometria-ExtraBold.ttf');
}

* {
	font-family: 'Geometria', sans-serif;
}

body {
	display: block;
	height: 1900px;
	width: 1140px;
	max-width: 1920px;
	background: #fff;
	position: absolute;
	padding-left: 100px;  
}


header {
	height: 280px;
	width: 1140px;
	margin: 50px 0px 0px 0px;
}

header .header-logo, .contacts, .callback  {
	display: inline-block;
	width: 200px;
}

header .logo {
	font-family: 'Geometria-Heavy', sans-serif;
	font-size: 32px;
	color: #04569f;
	margin-bottom: 15px;
}

header .contacts {
	font-family: 'Geometria-Bold', sans-serif;
	font-size: 16px;
	color: #012646;
	font-weight: bold;
	text-align: justify;
	margin-left: 285px;
	width: 265px;
}

header .callback {
	margin-left: 50px;
}

header .callback  p{
	font-family: 'Geometria-ExtraBold', sans-serif;
	font-size: 20px;
	color: #012646;
	font-weight: bold;
	width: 200px;
	margin-bottom: 5px;
	margin-top: -10px;
}

header .topnav {
	display: flex;
	justify-content: space-between;
	background: #04569f;
	height: 60px;
	line-height: 55px;
}

header .contact-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .topnav a {
	width: 195px;
	text-decoration: none;
	color: #fff;
	text-align: center;
	font-size: 16px;
	font-weight: lighter;
	vertical-align: middle;

}

header .topnav a:hover{
	background: #3887cf;
}

section  {
	margin-bottom: 68px;
	text-align: left;
}

section .header-logo, .contacts{
	width: 263px;

}

section .under-logo, .under-logo-2 {
	font-size: 13px;
	margin-top: -20px;
}

header .under-logo {
	margin-bottom: 17px;
}

.callback button  {
	background: #fff;
	font-size: 13px;
	color: #012646;
	font-weight: lighter;
	height: 30px;
	width: 200px;
	border: #04569f 1px solid;
}

.callback button:hover {
	background: #3887cf;
	color: #fff;
}

.photoblock img {
	display: block;
	width: 1140px;
}














footer {
	position: absolute;
    bottom: 0;
	height: 125px;
	width: 1140px;
	font-size: 16px;
	font-weight: bold;
}

footer .botnav {
	display: flex;
	justify-content: space-around;
	line-height: 105px;
}
