body {
    max-width: 1920px;
    margin: 0 auto;
}

a:hover {
    text-decoration: none;
}

a {
    color: #fff;
}


header {
    background-image: url('./src/img/headerBg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-top: 20px;
}

.logoLine {
    display: none;
}

.headerTextContent480 {
    display: none;
}

.logoText {
    font-size: 20px;
    color: #fff;
    font-family: 'Lato-Regular';
    padding-left: 248px;
}

.logoWrapper {
    width: 100%;
    display: flex;
}

.headerContentWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.headerTextContent {
    text-align: center;
}

.headerTextContent1 {
    font-family: 'Lato-Black', sans-serif;
    color: #fff;
    font-size: 55px;
}

.headerTextContent2 {
    font-size: 60px;
    color: #FAD264;
    font-family: 'ChinaCyr-Regular';
}

.headerTextContent2 span {
    color: #fff;
}

.headerTextContent3,
.headerTextContent4,
.headerTextContent5,
.headerTextContent480,
.headerTextContent6 {
    font-family: 'Lato-Regular';
    font-size: 18px;
    color: #fff;
}

.headerTextContent4 {
    color: #FAD264;
}

.headerDivider {
    font-size: 20px;
    color: #1f1e1e;
    font-family: 'Lato-Regular';
    text-transform: uppercase;
    background-color: #FAD264;
    text-align: center;
    width: 100%;
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.afterHeaderDivider {
    background-image: url('./src/img/bg2.jpg');
    padding-bottom: 54px;
    background-size: cover; 
    
}

.afterHeaderDividerCost {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.afterHeaderDividerCostTitle {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Lato-Medium';

}

.afterHeaderDividerCostPrice {
    color: #fad264;
    font-size: 35px;
    font-family: 'Lato-Black';
    margin-top: 23px;margin-bottom: 27px;
}

.afterHeaderDividerCostTimer {
    font-family: 'Lato-Medium';
    color: #fff;
    font-size: 18px;
}

.afterHeaderDividerSkills {
    font-family: 'Lato-Regular';
    font-size: 18px;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
   margin-top: 17px;
}

.diff {
    padding: 70px 0;
    background: #fff;
}

.diffTitle,.diffSecondTitle {
    font-size: 35px;
    font-family: 'Lato-Medium';
    width: 100%;
    text-align: center;
    color: #4b4949;
}

.diffTitle span, .diffSecondTitle span {
    color: #e20505;
}

.diffSecondTitle {
    margin: 60px 0px;
    width: 100%;
}

.diffItems {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 36px;
    margin-bottom: 69px;
}

.diffItems p {
   font-size: 18px;
   color: rgba(0,0,0,.87);
   font-family: 'Lato-Regular';
}

.diffItems img {
    margin-bottom: 16px;
}


.diffDivider {
    width: 100%;
    text-align: center;
}

.diffSecondItems {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
}

.diffSecondItem {
    border: 2px solid #fad264;
    width: 367px;
    padding: 40px 40px 70px 40px;
}

.diffSecondItemTitle {
    font-size: 20px;
    color: rgba(0,0,0,.87);
    font-family: 'Lato-Bold';
}

.diffSecondItemText {
    font-family: 'Lato-Regular';
    font-size: 18px;
    color: rgba(0,0,0,.87);
}

.selfTrainingPlus {
    background: #EBEBEB;
    padding-top: 70px;
    padding-bottom: 60px;
   
}

.selfTrainingPlusTitle {
    font-family: 'Lato-Medium';
    font-size: 35px;
    color: #4b4949;
    text-align: center;
    width: 100%;
}

.selfTrainingPlusTitle span {
    color: #e20505;
}

.selfTrainingPlusItems {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.selfTrainingPlusItems img {
    margin-top: 40px;
    margin-bottom: 25px;
}

.selfTrainingPlusItems p {
    font-family: 'Lato-Regular';
    font-size: 18px;
    opacity: .87;
    max-width: 367px;
    text-align: center;
    line-height: 20px;
}

.pdfCostWrapper {
    padding: 60px 193px 0;
}

.pdfCost {
    text-align: center;
    border: 3px solid #e20505;
    padding: 42px 84px 85px 84px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.pdfCostTitle {
    color: #4B4949;
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Lato-Black';
}

.pdfCostPrice {
    font-size: 35px;
    font-family: 'Lato-Black';
    color: #e20505;
}

.pdfCostBuyButton, .buyButtonDisabled {
    background: #fad264;
    /* width: 361px; */
    height: 84px;
    border-radius: 40px;
    
    padding: 31px 63px;
    margin-top: 27px;
    margin-bottom: 34px;
}

.pdfCostBuyButton p>a, .pdfCostTimer, .buyButtonDisabled p>a {
    font-family: 'Lato-Regular';
    color: #000;
    font-size: 18px;
}

.pdfCostTimer p:nth-of-type(1) {
    margin-bottom: 57px;
}


.buyButton {
    transition: box-shadow .3s;
}
.buyButton:hover {
    box-shadow: 0px  10px 10px rgba(0,0,0,.25);
}

.buyButtonDisabled {
    background: #cbcbcb;
}

.mainBlock {
    background-image: url('./src/img/bg3.jpg');
    margin-top: 64px;
    background-size: auto; 
    width: 100%;
}

.mainTitle {
    font-family: 'Lato-Black';
    font-size: 24px;
    color: #4b4949;
    width: 100%;
    text-align: center;
    margin-bottom: 24px;
}

.mainTitle span {
    color: #e20505;
}

.mainBlockContent {
    display: flex;
    width: 100%;
}

.mainBlockContentText {
    font-family: 'Lato-Regular';
    font-size: 18px;
    color: rgba(0,0,0,.87);
    text-align: left;
    width: 100%;
    float: right;
    display: flex;
}

.mainBlockContentTextDash  {
    color: #FAD264;
    font-size: 34px;
}

.dashes {
    margin-right: 20px;
    margin-top: 10px;
}

footer {
    padding-top: 39px;
    width: 100%;
    background-image: url('./src/img/footerBg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: right; */
}

.footerDivider {
    width: 2px;
    height: 85.05px;
    background-image: url('./src/img/footerDivider.png');
}

.footerFirst, .footerSecond {
    font-family: 'Lato-Bold', sans-serif;
    font-size: 18px;
}

.footerThird, .footerCopyright {
    font-size: 12px;
    color: #fff;
    font-family: 'Roboto-Regular', sans-serif;
}

.footerThird {
    
    margin-left:auto;
    opacity: .5395;
    padding-right: 88px;
}

.footerCopyright {
    text-align: center;
    width: 100%;
    opacity: .87;
}

.footerRowItems {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.footerStylesWhite {
    color: #fff;
}

.footerStylesYellow {
    color: #FAD264;
    text-decoration: none;
    border-bottom: 1px #FAD264 solid;
}
.footerPhoneNumber {
    font-size: 24px;
    max-width: 196px;

}

.footerDivider {
    margin-left: 78px;
    margin-right: 55px;
}

.footerThird p:nth-of-type(3) {
    text-decoration: underline;
    /* border-bottom: .5px solid #fff; */
}

#Wrapp {
    top:0;
     left:0;
    position:fixed;
    background-color:#000;
    opacity: 0.74;
    width:100%;
    height:100%;
    z-index:10000;
   }
   #tt{
     position:relative;
     background-color:#fff;
     width:200px;
     padding:12px;
     height:100px;
     margin:20% auto auto auto;
     border:red solid 1px;
   
   }
   div.close {
     cursor:pointer;
     position:absolute;
     font-weight:700;
     text-shadow:#000 1px 1px 0;
     color:red;
     right:7px;
     top:2px;
   }