input[type=range] {
  -webkit-appearance: none;
  width: 10px;
  margin: 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 0px;
  height: 11px;
  cursor: pointer;
  background: #0088ff;
  border-radius: 0px;
  margin-top: -18px;
}
input[type=range]::-webkit-slider-thumb {
  border: 1px solid #404040;
  height: 18px;
  width: 2px;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #0088ff;
}
input[type=range]::-moz-range-track {
  width: 0px;
  height: 11px;
  cursor: pointer;
  background: #0088ff;
}
input[type=range]::-moz-range-thumb {
  border: 1px solid #404040;
  height: 18px;
  width: 2px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 5px;
  height: 11px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
  color: #08f;
}
input[type=range]::-ms-fill {
  background: #08f;
  color: #08f;
  background-color: #08f; 
}
/* input[type=range]::-ms-fill-upper {
  background: #0088ff;
} */
input[type=range]::-ms-thumb {
  border: 1px solid #404040;
  height: 18px;
  width: 1px;
  color: #404040;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #0088ff;
}
input[type=range]:focus::-ms-fill-upper {
  background: #0088ff;
}
