@font-face {
    font-family: 'Roboto-regular', sans-serif;
    src: url('./Roboto-Regular.ttf');
}

body {
    font-family: "Roboto-regular", sans-serif;
    max-width: 100%;
}

small {
    font-size: 10px;
}

.controlsPlay a {
    margin-top: 5px;
}

.container {
    margin: 0 auto;
    max-width: 550px;
}

.player {
    padding: 10px;
    height: 100px;;
    display: flex;
    max-width: 540px;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 10px 2px #404040;
    border-radius: 10px;
    margin-top: 20px;
    box-sizing: border-box;
}
.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.pause {
    display: none;
}

.icon img {
    max-height: 25px;
    max-width: 25px;
    
}

.volumeInput{
    width: 10px;
    opacity: 0;
     /* visibility: hidden; */
     transition: .5s;
    /* display: none; */
}

.volumeInput:hover {
    /* display: inline;     */
    width: 50px;
    opacity: 1; 
    /* visibility: visible; */ 
}

.controlsSpeed {
    width: 35px;
   
}

.controlsSpeed select:hover {
   cursor: pointer;
   opacity: .7;
}

.controlsSpeed select {
    max-width: 100%;
    border:none;
    -webkit-appearance: none;
    appearance: none;
    background: none;
    outline: none;
    /* font-size: 10px; */
}

.progressbar {
   
}

.progressbar progress {
    max-width: 100%;
} 

#play, .play {
    display: block;
}

.title {
    color: #cc64b7;
    font-weight: bolder ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.title p {
    overflow: hidden;
}

.controlsPlay:hover, 
.controlsDownload:hover,
.controlsUpload:hover,
.controlsVolume a:hover {
    opacity: .7;
    cursor: pointer;
}







/* #ffffff 
#404040 
#08f 
#cc64b7  */